/* reset */
body,
h1,
h2,
p {
    margin: unset;
    padding: unset;
}

:root {
    background-color: #1e1e1e;
}

h1,
h2,
p {
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}



/* wrapper */
.wrapper {
    margin: auto;
    max-width: 1200px;

}

/* header */
.header {
    background-image: url(images/cover.png);
    background-size: cover;
    height: 676px;

    position: relative;
}

.header::after {
    display: block;
    content: '';
    height: 240px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%);
    /* 투명 그라디언트 */
}


/* main-wrapper */
.main-wrapper {
    display: flex;
    max-width: 1200px;
    background-color: #111111;

}

/* main */
.main {
    flex-grow: 3;
    flex-basis: 0;
    padding: 69px;
}

.title::before {
    color: #ffffff;
    display: block;
    content: 'NEW';
    font-size: 12px;
    text-align: center;
    line-height: 28px;


    background-color: #FF2E00;
    width: 57px;
    height: 28px;
    border-radius: 8px;
}

.title {
    color: #ffffff;
    font-size: 64px;
    margin-bottom: 26px;
}

.info {
    color: #999999;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: normal;
}

/* side-bar */
.side-bar {
    flex-grow: 2;
    flex-basis: 0;
    padding:100px;
}

.side-bar-title {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;   

    margin-bottom: 40px;
}

.genre-title {
    color: #aaaaaa;
    font-weight: normal;
    background-color: #222222;
    border-radius: 12px;
    padding: 3px 13px;
}

.ratings{
    width: 240px;
    height: 48px;
    overflow: hidden;

    margin-bottom: 40px;
}

.star-position{
    width: 240px;
}

.member-wrapper{
    display: flex;
}

.member{
    width: 64px;
    height: 64px;
    margin: -10px;

    border: #111111 solid 5px;

    border-radius: 50%;
}